# Git
.git

# Gradle & Local Config
.gradle/
local.properties

# Build Outputs
build/
/*/build/
.cxx/
.externalNativeBuild/
*.apk
*.aar

# Keys and Keystores
*.jks
*.keystore
*.pem
*.key
.env*

# IDE & OS
.idea/
*.iml
.DS_Store