# Gradle files
.gradle/
/local.properties
*.keystore
*.jks

# Build outputs
/build/
/*/build/
/captures/
.externalNativeBuild/
.cxx/

# IDEs and OS files
*.iml
.idea/
.DS_Store
Thumbs.db

# Secrets & Env
.env*
